<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Awesome Field</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="awesome-field.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Awesome &nbsp; Field &nbsp; Command &nbsp; Center</h1>
    <div class="button-grid">
        <button>
            <div class="power-switch fan">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Fan</h4>

        </button>
        <button>
            <div class="power-switch tubelight">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Tube Light</h4>
        </button>
        <button>
            <div class="power-switch tabletop">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Tabletop Light</h4>
        </button>
        <button>
            <div class="power-switch nightbulb">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Night Bulb</h4>
        </button>
        <button>
            <div class="power-switch laser">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Disco Light</h4>
        </button>
        <button>
            <div class="power-switch bluelight">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Blue Light</h4>
        </button>
        
        <button>
            <div class="speaker">
              <label class="speaker-switch">
                <input type="checkbox">
                <div class="button">
                  <div class="speaker-details"></div>
                  <div class="speaker-cone"></div>
                  <div class="speaker-lines">
                    <div class="speaker-line"></div>
                    <div class="speaker-line"></div>
                    <div class="speaker-line"></div>
                  </div>
                  <div class="wave-container">
                    <div class="wave"></div>
                    <div class="wave"></div>
                    <div class="wave"></div>
                  </div>
                </div>
              </label>
              
            <!-- <h4>Speak</h4> -->
        </button>

        <button>
          <label class="mic-switch">
            <input type="checkbox">
              <div class="button">
                <div class="mic-shape">
                  <div class="mic-head"></div>
                  <div class="mic-body"></div>
                </div>
                <svg class="mic-icon" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                  <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
                  <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                  <line x1="12" y1="19" x2="12" y2="23"></line>
                  <line x1="8" y1="23" x2="16" y2="23"></line>
                </svg>
                <div class="wave-container">
                  <div class="wave"></div>
                  <div class="wave"></div>
                  <div class="wave"></div>
                </div>
              </div>
            </input>
          </label>
      </button>
      
      <video id="backgroundVideo" class="video-background" autoplay muted loop>
        <source id="videoSource" src="ai1.mp4" type="video/mp4">
      </video>
    </div>

    <footer>
      <div class="glassy-textbox" id="speechOutput">
        <p>Your speech output will appear here</p>
      </div>
    </footer>

    

    <script src="/script.js"></script>
</body>
</html>
