<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Awesome Field</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="awesome-field.ico">
</head>
<body>
    <h1>Awesome &nbsp; Field &nbsp; Command &nbsp; Center</h1>
    <div class="button-grid">
        <button>
            <div class="power-switch fan">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Fan</h4>

        </button>
        <button>
            <div class="power-switch tubelight">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Tube Light</h4>
        </button>
        <button>
            <div class="power-switch tabletop">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Tabletop Light</h4>
        </button>
        <button>
            <div class="power-switch nightbulb">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Night Bulb</h4>
        </button>
        <button>
            <div class="power-switch laser">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Disco Light</h4>
        </button>
        <button>
            <div class="power-switch bluelight">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Blue Light</h4>
        </button>
        <button>
            <div class="power-switch fan">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Fan</h4>
        </button>
        <button>
            <div class="power-switch speaker">
                <input type="checkbox" />
                <div class="button">
                  <svg class="power-off">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                  <svg class="power-on">
                    <use xlink:href="#line" class="line" />
                    <use xlink:href="#circle" class="circle" />
                  </svg>
                </div>
              </div>
              
              <!-- SVG -->
              <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="line">
                  <line x1="75" y1="34" x2="75" y2="58"/>
                </symbol>
                <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" id="circle">
                  <circle cx="75" cy="80" r="35"/>
                </symbol>
              </svg>
              
            <h4>Speak</h4>
        </button>
    </div>

    <script src="/script.js"></script>
</body>
</html>
